name: Main CI Check

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types: [opened, ready_for_review, reopened, synchronize]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Build nix shell
        run: nix develop -c true

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: CI Check
        run: nix develop -c just ci
